
.acaiNoPonto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.acais {
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: 300px;
    text-align: center;
}

.acais h3 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
    color: #666;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.acais ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
}

.acais li {
    margin-bottom: 5px;
}

.acais p {
    margin-bottom: 10px;
    color: #e91e63; 
}

.acais button {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    margin-bottom: 3px;

}

.acais button:hover {
    background-color: #45a049;
}