
main {
  background-color: rgb(240, 240, 240);
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.adicionar {
  background-color: #0091ea;
  border: 1px solid #0091ea;
  color: white;
  height: 35px;
  border-radius: 3px;
  margin-left: 5px;
  font-size: 15px;
  padding: 5px;
}

.adicionar:hover {
  cursor: pointer;
  background-color: #0090eacd;
}
.remover{
  background-color: #ff691e;
  border: 1px solid #ff691e;
  color: white;
  height: 35px;
  border-radius: 3px;
  font-size: 15px;
  padding: 3px 17px;
  box-sizing: border-box;
  margin-top: -55px;
}
.remover:hover{
  cursor: pointer;
  background-color: #ff691ede;
}
main li {
  list-style-type: none;
}
